


    #topbar { background-color: #081F2C; width: auto; height: 95px }
    #goalLogo {float: left; width: 138px ; margin-left: 10px; }


    body { margin: 0; padding: 0;
     font-family: "Titillium Web", sans-serif; background-color: #E3E5E6; }

     .topbar-section {float: left;
      margin-top: 31px; margin-bottom: 23.75;
      font-size: 21px; color: #FFFFFF;
      padding-left: 10px; }
      #topbar-links {text-decoration: none;color: #FFFFFF; padding-bottom: 37px; width: auto}
      #topbar-links:hover {color: #C4C9CC;border-bottom: 3.5px #00a9ce solid; color: #C4C9CC; width: auto }
      #topbar-border {border-left: 1.5px #00a9ce solid;height: 23px; margin-right: 10px; width: auto}
      #topbar-border-TransNXGN {border-left: 3px #00a9ce solid;height: 23px; margin-right: 10px; width: auto}


      .top-ad { float: left; margin-left: 30%; margin-right: 50%; margin-top: 20px; width: auto}
      #IBMad { height: 100px; width: 700px; border: 1px solid}


    .centreNews {}
    #footballNewsHead {float: left; margin-left: 290px;background-color: #081F2C; width: 1000px; min-width: inherit;
      height: 60px;
    }

    #h1newsHead {color:  #FFFFFF; font-size: 25px; margin-left: 10px; margin-top: 15px; width: auto
    }

    #latestNews { background-color: #00a9ce; float: left; margin-left: 290px;
      width: 500px; height: 50px; margin-top: 12px;
    }

    #h4newsHead {color: #FFFFFF; font-size: 14px; font-weight: lighter; margin-left: 190px;
    }

    #matchToday {background-color: #E3E5E6; float: right; margin-right: 230px;
      width: 500px; height: 47px; margin-top: 12px; border: 1px solid;
    }
    #h4matches {color: black; font-size: 14px; font-weight: lighter; margin-left: 190px
    }

    #paulPogba {float: left; height: 210px; width: 400px; margin-left: -500px; margin-top: 70px}
    #paulPogbaNews {float: left; background-color: #FFFFFF; margin-left: -100px; width: 280px; height: 210px;
      margin-top: 9px; color:#081F2C  }
    #pogbaText { font-weight: bold; margin-left: 42px; width: 180px; margin-top: 50px; font-size: 20px
    }
    #pogbaSources {float: left; background-color: #FFFFFF; height: 28px;margin-left: 290px;margin-top: 1px ;
      width: 672px; font-size: 12px; font-weight: bold; padding-top: 14px; padding-left: 8px; color: #081F2C
    }
    #SourcesDate { color: grey;
     }
    #shareIcon {height: 12px; float: right; margin-right: 10px
    }
    #rightAD {float: left;; background-color: #FFFFFF; height: 280px; margin-left: 990px; margin-top: -252px; width: 316px}
