
body { background-color: white;
  margin: 0; padding: 0;
 font-weight:400;
   font-family: "Assistant",sans-serif;
      font-size: 18px;
      letter-spacing: .75px;
      color: black;
      font-weight: 400;
      position: relative;}


  #logo1 {height: 40px;
  }

  #headerContainer {background-color:  #64BCE0}

.jumbotron {background-image: url(sweetImg/withFruits.jpg);
background-size: cover;
height: 100%;
text-align: center;
margin: 0px}

#sweeth1 {
  color: pink;
}

#email {
  width: 300px;
  margin-right: 3px;
}

#mailList {
  margin: 0 auto;
}
