


body {
  background: url(back.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Lato;
  font-weight: 300;
  color: #555;
}

#gameContainer {
  /* display: block; */
  margin: 0 auto;
  width: 65%;
  height: 600px;
  margin-top: 80px;
background-color: white;

}
#player1Conatiner{
  float: left;
  width: 50%;
  height: 100%;

}
#player2Conatiner{
  float: right;
  width: 50%;
  height: 100%;
  background-color: inherit;
}

#restartGame{
top: 15%;
}
.centerTitles button {
  position: fixed;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  left: 50%;
  background-color: inherit;
  font-weight: lighter;
}
#diceRoll {
  top: 65%;
}
#diceHold {
  top: 75%;
}
.centerTitles input {
  position: fixed;
  width: 100px;
  height: 25px;
  margin-left: -60px;
  left: 50%;
  top: 85%;
  border: 1px solid;
  color: #555;
  background-color: white;
  font-weight: lighter;
}
#diceImage {
  position: fixed;
  width: 110px;
  height: 110px;
  margin-left: -50px;
  left: 50%;
  top: 30%;
  background-color: yellow;
  font-weight: lighter;
}

i {
  font-size: 27px;
  color: red;
  padding-right: 15px;
}
button {
  font-weight: lighter;
  color: #555;
  font-weight: 100;
  font-size: 20px;
cursor: pointer;
background-color: inherit;
border: none;
outline:none;
}
/* DONT FORGET TO CHANGE BUTTON ON HOVER IN JS */
input {
   outline:none;
}

#gameContainer table {
  margin-left: 50%;

}
#player1Conatiner {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
}
#player2Conatiner {
  font-size: 40px;
  text-align: center;
  font-weight: lighter;
}
.playerTitles {
  margin-top: 20%;
}
td {
  /* margin-left: 50%; */
  color: #EB4D4D;
  font-size: 70px;
}

.currentScore{
  width: 110px;
  height: 80px;
  font-size: 13px;
  font-weight: lighter;
  padding-top: 5px;
  background-color: #EB4D4D;
  margin-left: 37%;
  margin-top: 30%;
  color: black;
}

.currentScore p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: -10px;
}

.active  {
background-color: #F7F7F7;
}
.active p {
  font-weight: bold;
}
#activeCircle {
  width: 20px;
  height: 25px;
  border-radius: 50%;
  background-color: #EB4D4D;
}
